/*-------------------------------------*/
/*----------- content-main ------------*/
/*-------------------------------------*/
.content-main-about {
  width: 1206px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.content-main-about .bread-crumbs {
  margin: 10px 0 12px;
}
.content-main-about .bread-crumbs a {
  font-family: "MyriadPro-Regular";
  color: #f1ecd7;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-shadow: 0 2px 9px #9d7151;
  text-decoration: none;
}
.content-main-about .bread-crumbs a:hover {
  text-decoration: underline;
}
.content-main-about .bread-crumbs .active {
  color: white;
}
#.content-main-about  {
  background-color: #f1ecd7;
  box-shadow: 0 2px 5px #9d7151;
  overflow: hidden;
}
.content-main-about  .tittle-block {
  background-color: #e4d0a0;
  background-image: -webkit-linear-gradient(bottom, #f6e7c3 0%, #e4d0a0 100%);
  background-image: linear-gradient(to top, #f6e7c3 0%, #e4d0a0 100%);
  box-shadow: 0 2px 5px #9d7151;
  margin-bottom: 4px;
}
.content-main-about  .tittle-block p {
  float: right;
  font-family: "MyriadPro-Regular";
  color: #503725;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  padding: 9px 13px 0 0;
}
.content-main-about  .tittle-block h2 {
  font-family: "MyriadPro-Regular";
  color: #503725;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 8px 0px 8px 11px;
  text-transform: uppercase;
}
.content-main-about  img {
  float: right;
  width: 556px;
  height: 417px;
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  clear: both;
  margin: 20px 40px 24px 0;
}
.content-main-about  h3 {
  font-family: "MyriadPro-Regular";
  color: #503725;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0px 20px 20px 40px;
  overflow: hidden;
}
.content-main-about  h3 span {
  text-transform: none;
}
.content-main-about  h3:nth-child(4) {
  padding-top: 22px;
}
.content-main-about  p {
  font-family: "MyriadPro-Regular";
  color: #503725;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 0px 630px 17px 40px;
}
.content-main-about  p span {
  font-weight: 700;
  font-style: italic;
}
.content-main-about  p i {
  font-style: italic;
}
.content-main-about  a {
  display: inline-block;
  background-color: #f3ae4c;
  box-shadow: 0 2px 5px #9d7151, inset 0 1px 2px rgba(24, 23, 24, 0.35);
  background-image: url(../images/more-about-bg.jpg);
  background-repeat: no-repeat;
  width: 250px;
  height: 31px;
  background-position: 0px 0px;
  font-family: "MyriadPro-Regular";
  color: #503725;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-size: 100% 100%;
  line-height: 31px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 41px 9px 31px 350px;
}
.content-main-about  a:last-child {
  margin-left: 0px;
}
.content-main-about  a:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
          transition: 0.2s;
  text-decoration: underline;
}
.content-main-about  a:not(:hover) {
  -webkit-transition: 0.2s;
          transition: 0.2s;
}
.content-main-about  a:active {
  box-shadow: 0 2px 5px rgba(157, 113, 81, 0.75);
}
.content-main-about :after {
  content: '';
  position: absolute;
  bottom: 88px;
  left: 50%;
  margin-left: -564px;
  width: 1128px;
  height: 1px;
  #background-color: #eddeb5;
}

/*# sourceMappingURL=about.css.map */